/* masonry.css */
.my-masonry-grid {
    display: flex;
    margin-left: -15px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 15px; /* gutter size */
    background-clip: padding-box;
}
